<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Progressive Web App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="pwa-header">
            <div class="pwa-content-wrapper">
                header goes here
            </div>
        </header>
        <div class="pwa-content-wrapper">
            <div class="pwa-content-wrapper">
                content goes here
            </div>
        </div>
        <footer class="pwa-footer">
            <div class="pwa-content-wrapper">
                footer goes here
            </div>
        </footer>
        
    </body>
</html>